body {
  background: linear-gradient(217deg, #00553F, #EED9B6);
  background-image: url(Wedding-website-images/Homepage-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*Navbar Styles*/
.Navbar {
  background-color: white;
  top: 0;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  color: #00553F;
/*  border-bottom: solid #00553F 2px; */
  height: 8%;
}
.Navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.Navbar-buttons a {
  text-decoration: none;
  color: #EED9B6;
  transition: 1s;
  font-weight: 400;
  font-size: 18px;
}
.Navbar-buttons a:hover {
  color: #00553F;
  text-decoration: underline;
  font-weight: 500;
}
.Navbar-button-1 {
  margin-right: auto;
}
.Main-text {
  top: auto;
  bottom: auto;
  font-size: 24px;
  font-family: Georgia, serif;
  font-weight: 600;
  color: #EED9B6;
  align-items: center;
}
