
/*Navbar Styles*/
.Navbar {
  background-color: white;
  top: 0;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  color: #00553F;
  border-bottom: solid #00553F 2px;
  height: 10%;
}
.Navbar-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}
.Navbar-buttons a {
  text-decoration: none;
}
.Navbar-button-1 {

}
