p {
  text-align: center;

  margin-left: 325px;
  margin-right: 325px;
  }
.centered-video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%
}
h1 {
  text-align: center;
}
body {
  background-image: url("https://images.app.goo.gl/QxF52ybQbBYyfoeu5");
}
