p {
  text-align: center;

  margin-left: 325px;
  margin-right: 325px;
  }
.centered-video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%
}
h1 {
  text-align: center;
}
body {
  background-image: url("https://as2.ftcdn.net/jpg/03/25/39/99/500_F_325399960_WUQcsFi0ldxtN4TOzVnFRlx2b2XmkO57.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
