p {
  text-align: center;
  color: #FAEBD7;
  margin-left: 325px;
  margin-right: 325px;
  display: inline;
  }
.centered-video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%
}
h1 {
  text-align: center;
  color: #FAEBD7;
}
body {
  background-image: url("https://cdn.myminifactory.com/assets/object-assets/5d30c999f25bc/images/720X720-logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
