/*Master Styles*/
body {
  background: linear-gradient(217deg, #FFB6C1, #7B68EE);
  margin: 1px;
  margin-top: 6%;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/*Nav Styles*/
.Navbar {
  background-color: #000000;
  top: 0;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  color: #F5F5F5;
  border-bottom: solid #F5F5F5 2px;
  height: 8%;
  font-family: sans-serif;
}
.Mindflayer-symbol {
  height: 9%;
  padding-top: 5px;
  margin-left: 0;
  margin-right: auto;
}
.Navbar-buttons {
  display: flex;
  justify-content: center;
}
.Home-button {
  margin-left: -30%;
  margin-right: 54%;
  align-items: center;
}

/*Dropdown Menu Styles*/
.dropbtn {
  background-color: #000000;
  color: #B0E0E6;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}
.dropdown-content a {
  color: #B0E0E6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #B0E0E6;
  color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #000000;
  color: #B0E0E6;
}

/*Portfolio Styles*/

.Portfolio-items-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 442px);
}
.Portfolio-item-wrapper {
  position: relative;
  height: 337px;
  width: 442px;
}
.Portfolio-img-background {
  max-height: 100%;
  height: inherit;
  width: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
}
.Portfolio-logo-text-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
}
.logo-wrapper img {
  width: 50%;
  z-index: 1;
  position: relative;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  margin-left: -10px;
}
.text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  text-align: center;
  height: 100%;
  padding-left: 39%;
  padding-right: 40%;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  color: #F5F5F5;
  z-index: -1;
}
p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
