body {
  background: linear-gradient(217deg, #FFB6C1, #7B68EE)
}
.Navbar {
  background-color: #000000;
  top: 0;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  color: #F5F5F5;
  border-bottom: solid #F5F5F5 2px;
  height: 10%;
}
.Mindflayer-symbol {
  height: 9%;
  padding-top: 5px;
  margin-left: 0;
  margin-right: auto;
}
.Navbar-buttons {
  display: flex;
  justify-content: center;
}
.Home-button {
  margin-left: 0;
  margin-right: 40%;
}
.Dropdown-menu {
  margin-left: 40%;
  margin-right: 0;
}
