body {
  background: linear-gradient(217deg, #FFB6C1, #7B68EE)
}
.Navbar {
  background-color: #000000;
  top: 0;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  color: #F5F5F5;
  height: 5%;
  border-bottom: solid #F5F5F5 2px;
}
.Home-button {
}
