body {
  background: linear-gradient(217deg, #FFB6C1, #7B68EE)
}
.Navbar {
  background-color: #000000;
  top: 0;
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  color: #F5F5F5;
  border-bottom: solid #F5F5F5 2px;
  height: 10%;
  overflow: hidden;
  font-family: sans-serif;
}
.Mindflayer-symbol {
  height: 9%;
  padding-top: 5px;
  margin-left: 0;
  margin-right: auto;
}
.Navbar-buttons {
  display: flex;
  justify-content: center;
}
.Home-button {
  margin-left: -30%;
  margin-right: 57%;
  align-items: center;
}
.Dropdown-menu .dropbutton .dropdown-content{
  align-items: center;
  color: #F5F5F5;
  background-color: black;
}
.dropbutton {
  overflow: hidden;
}
.Dropdown-menu {
  overflow: hidden;
  float: left;
}
.Dropdown-menu .dropbutton {
  font-size: 16px;
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}
.Dropdown-menu:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.navbar a:hover, .Dropdown-menu:hover .dropbutton {
  background-color: red;
}
